.media-selection {
  width: 88%;
  margin: 10px;

  border: none;
  padding: 1em;

  font-family: monospace, sans-serif;
  font-size: 0.9em;

  & legend {
    font-size: 50em;
    margin: 50px;
  }
  & input {
    margin-left: 5px;
  }
  & label {
    margin-left: 5px;
  }
}
