.star-container {
  --star-size: 60px;
  --star-color: #fff;
  --star-background: #fc0;
  --percent: calc(var(--rating) / 5 * 100%);

  position: relative;
  box-sizing: border-box;
  display: inline-block;
  font-size: 1em;
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;
  padding: 2%;

  &::before {
    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(
      90deg,
      var(--star-background) var(--percent),
      var(--star-color) var(--percent)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
