.resource-list {
  &__container {
    padding: 0;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  &__list-element {
    list-style: none;
  }
}
