.resource-list {
  display: flex;
  justify-content: center;
  &__container {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__list-element {
    list-style: none;
    width: 100%;
  }
}

.container {
}
