.resource-card {
  &__container {
    font-family: monospace, sans-serif;
    font-size: 0.9em;
    width: auto;
    max-width: 60em;
    height: 4em;
    margin: 10px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #1d3557;
    padding: 2%;
    border-radius: 3px;
    -webkit-box-shadow: 5px 2px 12px -7px rgba(112, 108, 112, 1);
    -moz-box-shadow: 5px 2px 12px -7px rgba(112, 108, 112, 1);
    box-shadow: 5px 2px 12px -7px rgba(112, 108, 112, 1);
  }

  &__link {
    text-decoration: underline;
    color: white;
    text-decoration-color: transparent;

    &:hover {
      text-decoration: underline;
      text-decoration-color: white;
      transition: 0.3s;
    }
  }
}
